.featured h1 {
  margin-left: 50px;
}
.tag {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 10px 30px;
  align-items: center;
}
.container {
  padding: 10px;
}
.grid {
  width: 100%;
  margin-left: 80px;
  margin-bottom: 100px;
}
.categories {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.categories > div {
  flex: 33.3333%;
  margin: 10px 5px;
  background-color: #f3f5f7;
  max-width: 330px;
  min-width: 250px;
  height: 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.categoryPic {
  width: 90%;
  height: 200px;
  position: relative;
}
.sales {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 90px;
}
.sales > div {
  flex: 1 1;
}
.sales > div:nth-child(1) {
  height: 350px;
  position: relative;
}
.sales > div:nth-child(2) {
  background: #f3f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.sales > div button {
  border: none;
  color: white;
  background-color: #38cb89;
  padding: 10px 12px;
  border-radius: 7px;
}
.collections {
  width: 100%;
  padding: 40px 70px;
}
.collections h2 {
  padding: 40px 70px;
}
.collectionGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}
.collectionGrid > div {
  flex: 1 1;
  max-width: 400px;
  height: 500px;
  margin: 10px 10px;
}
.collectionPicture {
  width: 90%;
  height: 70%;
  position: relative;
  margin-bottom: 20px;
}
.collectionPicture2 {
  width: 50%;
  height: 100%;
  position: relative;
  margin-bottom: 0px;
}
.collectiontag {
  display: flex;
  flex-flow: column wrap;
  padding: 25px;
  justify-content: flex-end;
}

.collectionGrid > div:nth-child(1) {
  background-color: #f3f5f7;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}
.collectionGrid > div:nth-child(2) {
  background-color: none;
  display: flex;
  flex-flow: column wrap;
}
.collectionGrid > div:nth-child(2) > div {
  background-color: #f3f5f7;
  flex: 1 1;
  margin: 10px 0;
  display: flex;
}
.collectionGrid > div:nth-child(2) > div:first-child {
  margin-top: 0;
}
.collectionGrid > div:nth-child(2) > div:nth-child(2) {
  margin-bottom: 0;
}
.bar2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 40px;
}
.bar2 h2 {
  margin-left: 0;
}
.articleGrid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 40px;
}
.articleGrid > div {
  margin: 10px;
}
.cart {
  width: 100%;
}
.handles {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.handles > div {
  width: fit-content;
  height: auto;
  padding-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15px;
  color: #b1b5c3;
  cursor: pointer;
}
.handles > div.active {
  border-bottom: 2px solid black;
  color: black;
  padding: 15px 10px;
  padding-top: 0;
  transition: 0.5s;
}
.handles > div > div:first-child.active {
  background-color: black;
  transition: backgroud-color 0.5s;
}
.handles > div > div:first-child {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b1b5c3;
  color: #ffff;
  border-radius: 50%;
  margin: 0 10px;
  margin-left: 0;
}
.cartGrid {
  display: flex;
  width: 1100px;
  max-width: 100%;
  margin: 20px auto;
  flex-flow: row wrap;
  justify-content: space-between;
}
.cartGrid > div {
  flex: 1 1;
  margin: 15px 10px;
  width: 100%;
}
.cartGrid > div:first-child {
  flex-grow: 1.7;
  padding: 15px 20px;
}
.cartGrid > div:nth-child(2) {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  height: fit-content;
  border-radius: 7px;
  flex-flow: column wrap;
}
.cartGrid > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  flex-flow: column wrap;
}
.cartGrid > div:nth-child(2) > div:nth-child(3),
.cartGrid > div:nth-child(2) > div:nth-child(4) {
  border-bottom: 0.5px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 15px;
}
.cartGrid > div:nth-child(2) > div:nth-child(2) > div {
  margin: 10px 0;
  border-radius: 7px;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 15px;
}
.cartGrid > div:nth-child(2) > div:nth-child(2) > div.active {
  background-color: #f3f5f7;
}
.cartGrid > div button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  margin-top: 15px;
}
.cartTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.cartTitle > div:nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.cartTitle > div:nth-child(2) > div {
  margin: 0 25px;
  font-weight: bolder;
}

.cartDetail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 0.5px solid black;
  padding: 15px 0;
}
.cartDetail > div:nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: fit-content;
}
.cartDetail > div:nth-child(1) > div {
  margin: 0 8px;
}
.cartDetail > div:nth-child(1) > div:first-child {
  position: relative;
  object-fit: contain;
  width: 70px;
  margin-left: 0;
  border-radius: 7px;
  overflow: hidden;
  height: 90px;
}
.cartDetail > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-flow: column wrap;
}
.cartDetail > div:nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.cartDetail > div:nth-child(2) > div {
  margin: 0 25px;
}
.counter {
  display: flex;
  flex-flow: row wrap;
  width: 70px;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
  border: 01px solid black;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .grid {
    margin-left: 10px;
  }
  .featured h1 {
    margin-left: 10px;
  }
}
@media screen and (max-width: 498px) {
  .sales > div {
    flex: 100%;
  }
  .collections {
    padding: 40px 5px;
  }
  .collections h2 {
    padding: 40px 20px;
  }
  .collectionGrid > div {
    flex: 100%;
  }

  .cartGrid > div {
    flex: 100%;
  }
  .cartTitle > div:nth-child(2) {
    display: none;
  }
  .cartDetail {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .cartDetail > div {
    margin: 15px 0;
  }
  .cartDetail > div:nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 15px 0;
  }
  .cartDetail > div:nth-child(2) > div {
    margin: 8px 0;
  }
}
