.featured h1 {
  margin-left: 50px;
}
.tag {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 10px 30px;
  align-items: center;
}
.container {
  padding: 10px;
}
.grid {
  width: 100%;
  margin-left: 80px;
}
@media screen and (max-width: 768px) {
  .grid {
    margin-left: 10px;
  }
  .featured h1 {
    margin-left: 10px;
  }
}
